*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    width: 96vw;
    background-image: url("bk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 2em;
    font-family: Shadows Into Light;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    font-weight:bolder;
    font-family: 'Codystar';
    font-size: 0.55em;
}
h2, h3{
    font-family: 'Permanent Marker';
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}
table{
    font-size: 0.55em;
}



.container{
    height: 85vh;
    width: 80vw;
    display: grid;
    /* 3 rows and 2 columns*/
    grid-template: 1.5fr 6fr 0.5fr / 6fr 4fr;
    }


header{
    background-color: rgba(127, 255, 212, 0.9);
    grid-column: 1 / 3;
    overflow: scroll;
    scrollbar-width: none;
    text-align: center;
}
    h1{
        font-size: 2.5em !important;
    }
    header li{
        display: inline;
        font-family: 'Permanent Marker';
        font-weight: lighter;
    }
    header p, footer{
        font-size: 0.7em;
    }


.mainContent{
    background-color: rgba(175, 216, 233, 0.9);
    scrollbar-width: none;
    overflow: scroll;
    text-align: center;
}
    table{
        margin: auto;
    }

.sideBar{
    background-color: rgba(220, 20, 120, 0.8);
    scrollbar-width: none;
    overflow: scroll;
    overflow-y: scroll;
    text-align: center;
}
    .sideBar li{
        list-style: none;
        list-style-position: inside;
    }

    .sideBar::-webkit-scrollbar, .mainContent::-webkit-scrollbar, .sideBar::-webkit-scrollbar, header::-webkit-scrollbar{
        display: none;
    }  

footer{
    grid-column: 1 / 3;
    text-align: center;
    background-color: rgba(168, 235, 168, 0.9);
}

img {
    height: 250px;
}